/* Loader styles */
.pace {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(31 41 55); /* Background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensures the loader is on top */
}

.pace .pace-activity {
    width: 90px;
    height: 90px;
    border: 10px double #29d;
    border-radius: 50%;
    border-color: #29d transparent transparent;
    animation: spin 1s linear infinite;
}

/* Content is hidden by default */
.hidden {
    display: none;
}

/* Spin animation */
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
